<!-- Load Static Files -->
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
<div style="height:100%;background-image:url({% static 'attendance/images/college_pic.jpg' %});background-repeat:no-repeat;background-size: cover;background-position-y:+55%;">
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">AutoAttendance</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'showstudentlist' %}">Show Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'markattendance' %}">Mark Attendance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'attendancerecord' %}">Attendance Record</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
  
  {% if name %}
    <div class="alert alert-success">
      <strong>Success!</strong> Mr {{name}} your attendance has been marked !
    </div>
  {% endif %}







<style>
  body{
  background-color:#FCBF49;
}
.wrapper{margin:10vh}
//post card styles

.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 overflow:hidden;
 border-radius:20px;
 min-height:450px;
   box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

 @media (max-width: 768px) {
  min-height:350px;
}

@media (max-width: 420px) {
  min-height:300px;
}

 &.card-has-bg{
 transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size:120%;
  background-repeat:no-repeat;
  background-position: center center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);}

  &:hover {
    transform: scale(0.98);
     box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
    background-size:130%;
     transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    .card-img-overlay {
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      background: rgb(35,79,109);
     background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%);
     }
  }
}
 .card-footer{
  background: none;
   border-top: none;
    .media{
     img{
       border:solid 3px rgba(234,95,0,0.3);
     }
   }
 }
 .card-meta{color:orange}
 .card-body{ 
   transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
 &:hover {
   .card-body{
     margin-top:30px;
     transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
   }
 cursor: pointer;
 transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
 .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
 background: rgb(35,79,109);
background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
}
}
</style>



<div id="card-intro">
  
<section class="wrapper">
  <div class="container">
    <div class="row">
   
       <div class="col-sm-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2" style="color: black;">Hi Visitor !</small>
                <h4 class="card-title mt-0 " style="color: black;">Welcome to AutoAttendance</h4>
                <small style="color:rgb(5, 5, 5);"><i class="far fa-clock"></i>A Zero Contact & Hassle free App !</small>
              </div>
              <div class="card-footer">
                  <div class="media">
                    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                    <div class="media-body">
                      <h6 class="my-0 d-block" style="color:rgb(52, 22, 82);">Sameer Ranjan</h6>
                      <small style="color:rgb(5, 5, 5);">Project Creator</br>ADGITM</small>
                      
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
           <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2" style="color: black;">Greetings !</small>
                <h4 class="card-title mt-0 " style="color: black;">Thanks for visiting AutoAttendance</h4>
                <small style="color:rgb(5, 5, 5);"><i class="far fa-clock"></i> Now Attendance is a click away !</small>
              </div>
              <div class="card-footer">
                  <div class="media">
                    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                    <div class="media-body" style="color:rgb(52,22,82);">
                      <h6 class="my-0 d-block" style="color:rgb(52, 22, 82);">Vicky Thakur</h6>
                      <small style="color:rgb(5, 5, 5);">Project Creator</br>ADGITM</small>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
   
    </div>
  </div>
</section>

</div>

















